<div class="container text-center">
  <%= turbo_frame_tag 'categories' do %>
    <div class="row row-cols-3 g-4 m-5">

      <%= render @categories %>

      <div id="add_category" class="col d-flex justify-content-center align-items-center">
        <div class="card rounded-circle">
          <div class="card-body d-flex justify-content-center align-items-center">

            <%= link_to '+', new_category_path,
              class: 'btn btn-success rounded-circle aspect-ratio-1 d-flex justify-content-center align-items-center',
              data: { turbo_frame: dom_id(Category.new) } %>

          </div>
        </div>

        <%= turbo_frame_tag Category.new %>

      </div>
    </div>
  <% end %>
</div>